<div class="row">
  <div class="col-md-8">
  <%= form_tag 'dashboard' %>
  <% current_user.task_sets.order("deadline DESC").each do |t| %>
      <%= render 'task_set', ts:t %>
  <% end %>
</div>
<div class="col-md-4">
  <%= button_tag "Submit", class: 'btn btn-primary' %>
  </form>
</div>
</div>
